
<table class="table table-dark table-striped">
    <thead>
        <tr>
            <th>
                Number of Products
            </th>
            <th>
                Number of Categories
            </th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <%= link_to @product_count, "/admin/products" %>
            </td>
            <td>
                <%= link_to @category_count, "/admin/products" %>
            </td>
        </tr>
    </tbody>
</table>
